pyrofork
psutil
aiofiles
pillow
devgagantools
tgcrypto
pyromod
opencv-python-headless
requests
motor>=3.4.0              # Motor async Mongo driver (latest recommended)
pymongo>=4.6.3             # Ensures TLS 1.2+ support
certifi>=2024.2.2          # Latest SSL certificate store
pytz
flask
aiohttp
telethon
aiojobs
werkzeug==2.2.2
apscheduler 
telethon-tgcrypto
mutagen
yt-dlp
speedtest-cli
python-dotenv
